.header {
    text-align: center;
    margin: 10px auto;
}

.index {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.text_line_2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /*! autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
